.u-center {
  text-align: center !important;
}

.u-block-center {
  margin: 0 auto !important;
}

.u-page-info {
  margin-top: 1em;
  font-weight: bold;
  font-size: 24px;
}

.u-display-block {
  display: block !important;
}

.u-margin-bottom {
  margin-bottom: 2em !important;
}

.u-page-center {
  margin-top: 10em;
  text-align: center;
}

.u-dimmer {
  background-color: #fbfbfb !important;
}
div.ui.modals.visible.transition {
  display: flex !important;
  align-items: center; 
}