# App configs
APP_SECRET=YOURAPPSECRET
DB_URL=mongodb://host:port/database
GMAIL_USER=example@gmail.com
GMAIL_PASSWORD=yourpassword

# AWS
#Images bucket storage

AWS_IMAGES_BUCKET_NAME=BucketName

AWS_IMAGES_USER=S3User
AWS_IMAGES_BUCKET_ACCESS_KEY=AccessKey
AWS_IMAGES_BUCKET_ACCESS_SECRET=SecretKey
CLOUDFRONT_URL=//example.cloudfront.net

#Audio files bucket storage
AWS_AUDIOS_BUCKET_ACCESS_KEY=AccessKey
AWS_AUDIOS_BUCKET_ACCESS_SECRET=SecretKey

# MAILGUN
MAILGUN_API_KEY=key-example
MAILGUN_DOMAIN=https://api.mailgun.net/v3/your_domain.com

#Google
CAPTCHA_SECRET_KEY=SecretKey

#Slack
SLACK_TOKEN=SecretToken
