.s-signup-form {
  margin-top: -3em;
}

.s-login-form {
  margin-top: 5%;
}

.s-login-form__remember {
  float: left;
}

.s-login-form__forgot {
  float: right;
  cursor: pointer;
}

.s-signup-form__reset {
  margin-top: 10em;
}