/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.u-center {
  text-align: center !important; }

.u-block-center {
  margin: 0 auto !important; }

.u-page-info {
  margin-top: 1em;
  font-weight: bold;
  font-size: 24px; }

.u-display-block {
  display: block !important; }

.u-margin-bottom {
  margin-bottom: 2em !important; }

.u-page-center {
  margin-top: 10em;
  text-align: center; }

.s-signup-form {
  margin-top: -3em; }

.s-login-form {
  margin-top: 5%; }

.s-login-form__remember {
  float: left; }

.s-login-form__forgot {
  float: right;
  cursor: pointer; }

.s-signup-form__reset {
  margin-top: 10em; }

.s-page {
  font-size: 14px; }

.s-page__section {
  margin: 2em 0; }

.s-page__heading--main {
  text-align: center;
  font-size: 18px; }

.s-page__heading--sub {
  font-size: 16px; }

html, body {
  height: 100%;
  margin: 0; }

h1, h2 {
  border-bottom: none !important; }

#app {
  display: flex;
  justify-content: space-between; }

.c-app {
  width: 100%;
  flex: 1; }

.c-app__header {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 1em;
  align-items: center; }

.c-app__main {
  flex: 1;
  margin: 3em; }

.ui.card.c-app-card > img {
  height: 200px; }

.c-app-card-layout {
  margin: 2em;
  margin-top: 3em;
  margin-left: 10%;
  text-align: center; }

.c-app-article-convert-navigate-btn {
  margin-top: 2em !important; }

.c-app-conversion-progress {
  margin: 4em !important; }

.c-app-card .content {
  background-color: #444 !important;
  color: #DCDDDE !important;
  /* margin-top: -22px !important; */ }

.c-app-card .content .header {
  color: #DCDDDE !important; }

.ui.card.c-app-card {
  border-radius: 0 !important; }

.ui.card > :last-child, .ui.cards > .card > :last-child {
  border-radius: 0 !important; }

.c-app-article-all {
  height: 30em;
  overflow: auto; }

.ui.card.c-app-card.c-app-card-all-articles {
  display: inline-block;
  margin: 1em; }

img.c-app-coffee {
  width: 6em; }

.c-app-footer {
  bottom: 0;
  position: absolute;
  height: 7em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid;
  background: #ccc;
  padding-top: 1em; }

p.c-app-footer__top-line {
  width: 60%;
  margin: 0 auto 1em; }

.c-app-footer__link {
  color: rgba(0, 0, 0, 0.87); }

.c-app-footer__link:hover,
.c-app-footer__link:visited {
  color: rgba(0, 0, 0, 0.87); }

.c-app-footer__about,
.c-app-footer__contact {
  font-weight: bold;
  cursor: pointer;
  margin: 0 1em; }

.c-app-footer__actions--link {
  font-weight: bold; }

.c-logo-wrapper {
  width: 16em;
  color: black !important; }

.c-logo-wrapper:hover {
  color: black !important; }

.c-logo {
  display: flex;
  justify-content: center; }

.c-logo__img {
  width: 50px;
  height: 50px;
  margin-right: 1em; }

.c-logo__title {
  font-size: 18px;
  margin-top: 15px;
  color: black; }

span.c-logo__beta {
  vertical-align: super;
  font-size: 10px;
  color: red; }

.c-search-bar input[type="text"] {
  width: 50em;
  border-radius: 0 !important; }

.c-signup-form {
  width: 40%; }

.c-signup-form > * {
  padding-top: 1em; }

.c-signup-form__reset {
  margin-top: 5em; }

.c-editor {
  display: flex;
  flex-direction: column;
  width: 60em;
  height: 35em;
  margin: 0 auto;
  border: 1px solid;
  margin-top: 1em; }

.c-editor__toolbar {
  display: flex;
  flex-direction: row;
  text-align: center; }

.c-editor__toolbar-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
  color: #DCDDDE !important; }

.c-editor__toolbar-publish {
  box-shadow: none !important; }

.c-editor__content {
  height: 80%; }

.c-editor__footer {
  height: 10%; }

.c-editor__content--all {
  height: 100%;
  margin: 0 !important; }

/* Sidebar */
.c-sidebar {
  width: 14em !important;
  background-color: #6c5b7b !important; }

.c-sidebar > div {
  background-color: none !important; }

.c-sidebar__menu-item,
.c-sidebar__menu-item--level-1 {
  text-align: left !important; }

.c-sidebar__submenu-item,
.c-sidebar__menu-item--level-2 {
  text-align: left !important;
  padding-left: 2em !important; }

.c-sidebar__menu-item--level-3 {
  text-align: left !important;
  padding-left: 3em !important; }

.c-editor__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%; }

.c-main-content {
  display: flex; }

.c-main-content__sidebar-visible {
  width: 46em !important;
  margin-left: -4px; }

.c-editor__content-area {
  width: 100%;
  height: 100%; }

.c-editor__content--dropzone {
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center; }

.c-editor__content--description {
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 0.5;
  height: 8em;
  width: 100%;
  padding: 1em;
  color: navy;
  border: 2px solid black;
  text-align: left; }

.c-editor__content--description-text {
  color: white;
  font-size: 16px;
  line-height: 1.5; }

img.c-editor__content-smiley {
  width: 8em;
  height: 8em; }

.c-editor__content-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-bottom: 1em;
  background-color: white; }

.c-editor__content-default {
  outline: 2px dashed #92b0b3;
  outline-offset: -1em;
  height: 16em;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  background-color: #c8dadf;
  font-size: 1.25em; }

.c-editor__content-text {
  font-size: 18px;
  font-weight: bold; }

.c-editor__content--media {
  width: 100%;
  height: 100%; }

.c-editor__content-video {
  position: absolute;
  top: 0;
  /* width: 60em; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* bottom: 100%; */
  /* left: 50%; */
  height: 100%;
  /* background-size: cover; */
  overflow: hidden; }

.c-editor__content-image {
  height: 100%;
  width: 100%; }

span.c-editor__footer-controls {
  flex: 1;
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center; }

.ui.visible.thin.left.sidebar ~ .fixed, .ui.visible.thin.left.sidebar ~ .pusher {
  transform: translate3d(200px, 0, 0) !important; }

.c-editor-message {
  position: absolute !important;
  width: 100%;
  text-align: center;
  opacity: 0.9; }

.ui.segment.pushable.c-editor__content--all {
  height: 100%; }

.pusher.c-main-content {
  height: 100%; }

.c-editor__footer-wiki:focus {
  text-decoration: none; }

.c-editor__footer-wiki {
  margin-right: 1em; }

.c-editor__share-icon {
  display: inline;
  margin-right: 0.5em;
  cursor: pointer; }

.c-editor__share-icon > div {
  display: inline; }

.box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px; }

.box__hover {
  background-color: white !important; }

.c-editor-error-modal {
  color: red; }

.c-editor__toolbar {
  background-color: #444;
  color: white; }

.ui.card.c-contributors {
  width: 19.25em;
  float: right; }

.ui.active.indicating.progress.c-upload-progress {
  width: 100%;
  text-align: center;
  margin: 1em auto !important;
  padding: 0; }

.box__input {
  width: 50%; }

.c-contributors {
  text-align: center; }

.c-contributors {
  border-radius: 0 !important;
  margin-top: 1em !important; }

.c-contributors__count {
  font-size: 32px;
  color: blue;
  cursor: pointer; }

.c-contributors__icons {
  margin-top: 1em !important; }

.c-contributors__icons {
  justify-content: center !important;
  margin-left: -2em !important; }

.c-leaderboard {
  width: 60% !important;
  margin: 5em auto !important;
  text-align: center;
  padding-top: 5em !important; }

.c-leaderboard h2 {
  text-align: center;
  margin-bottom: 2em; }

.c-bing-container {
  margin-top: 1em; }

.c-bing__search-result-container {
  height: 32em;
  overflow: auto;
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: 1px solid #ccc; }

.column.c-bing__search-column {
  padding: 1px !important; }

.c-bing__search-input {
  width: 100%; }

.c-bing__result-image {
  cursor: pointer; }

.c-bing__search-input
.input input[type="text"] {
  border-radius: 0 !important; }

img.ui.image.c-bing__result-image {
  width: 100%;
  height: 100px; }

/*# sourceMappingURL=style.css.map*/