html, body {
  height: 100%;
  margin: 0;
}

h1, h2 {
  border-bottom: none !important;
}
.section-title{
  text-align:left;
  position: absolute;
  left: -10px;
  width: 6.2em;
  height: 30px;
}

#app {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.c-app {
  width: 100%;
  height: 100%;
  flex: 1;
}

.c-app-home__wikilinks {
  flex: 1; 
  text-decoration: none;
  margin: 0 10px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-size: 1rem !important;
  color: black !important;
  background-color: #eee;
  &:hover {
    color: #0099ff !important;
  }
}

.c-app__header {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.c-app__header .select-lang-dropdown {
  margin-bottom: 3em;
  flex: 2;
  color: #1e70bf;
  > div.text {
    color: #1e70bf !important;
  }
}

.c-auth-buttons{
  margin-bottom:2em !important;
  flex: 2;
}
.c-app-header__link {
  margin-bottom:2em !important;
  flex: 2;
  > div {
    text-align: center;
  }
}

.c-app__main {
  flex: 1;
  margin: 3em;

}
.ui.ui.card.c-app-card .custom {
  position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    transform: rotateZ(45deg);
    right: -30px;
    background: #3a9e3a;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px !important;
}
.ui.card.c-app-card > img {
  object-fit:cover;
}
.ui.card>.image, .ui.cards>.card>.image{
  height: 250px;
  background:#6aa06a!important;
}

.c-app-card-layout {

  margin:2em;
  text-align: center;

  .ui.grid>.row {
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  .ui.grid>.row:nth-child(1){
    margin-top: 0;
  }

  .ui.grid>.row>.column {
    height:300px;
    margin: 2.5rem 0;
    top:2em;
  }
}

.c-app-article-convert-navigate-btn {
  margin-top: 2em !important;
}

.c-app-conversion-progress {
  margin: 4em !important;
}

.c-app-arrows-container {
  
  display: flex;
  height: 250px;
  justify-content: space-between;
  margin-left: -20px;
  .c-app-arrow {
    // flex: 1;
    position: relative;
  }

  .c-app-arrow-text {
    position: absolute;
    top: 60px;
    text-align: center;
    left: 20px;
  }

  .c-app-arrow-text h3,
  .c-app-arrow-text p {
    margin: 0;
  }

  .c-app-arrow-text h3 {
    margin-top: 5px
  }

}

.c-app-card {
  width: 100% !important;
}

.c-app-card .content {
    background-color: #005596!important;
    color: #DCDDDE!important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: -22px !important; */
}

.home .c-app-card .content {
  padding: 1em 0.5em !important;    
}

.c-app-card .content .header {
    color: white!important;
    font-size:0.8em!important;
}

.ui.card.c-app-card {
    border-radius: 0 !important;
    max-width: 300px;
    margin: 0 auto;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
    border-radius: 0 !important;
}

.c-app-article-all {
  height: 30em;
  overflow: auto;
}

.ui.card.c-app-card.c-app-card-all-articles {
  display: inline-block;
  margin: 1em;
}

img.c-app-coffee {
    max-width: 6em;
    vertical-align: middle;
}


// viewer style
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

img {
  animation: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.outer-container {
  width: 100%;
  height: 100%;
}
.inner-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.c-editor__content {
  .three-active img, .four-small-active img, .five-active img {
    object-fit: initial;
  }

  .two {
    display: inline-block;
    width: 30%;
    height: 100%;
    -webkit-transition: width 2s;
  }

  .two video, .four video, .three video, .two-active video, .five video {
    object-fit: fill;
  }

  .two-active {
    display: inline-block;
    width: calc(70% - 4px);
    height: calc(100% - 4px);
    -webkit-transition: width 2s;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    padding: 2px;
  }

  .three {
    width: 20%;
    display: inline-block;
    height: 100%;
    -webkit-transition: width 2s;
    vertical-align: top;
  }

  .three-active {
    width: calc(60% - 4px);
    height: calc(100% - 4px);
    display: inline-block;
    -webkit-transition: width 2s;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    padding: 2px;
  }

  .three-active video {
    object-fit: inherit;
  }

  .three .gif_player {
    height: 100%;
  }

  .four-active {
    height: calc(100% - 4px);
    width: calc(70% - 4px);
    display: inline-block;
    -webkit-transition: width 2.5s;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    padding: 2px;
  }

  .four {
    width: 15%;
    display: inline-block;
    -webkit-transition: width 2s;
    height: 100%;
  }

  .four-container .gif_player {
    height: 100%;
  }

  .four-active video {
    object-fit: inherit;
  }

  .four-small-active {
    display: inline-block;
    position: relative;
    background: white;  
    height: calc(80% - 4px);
    width: calc(100% - 4px);
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -webkit-transition: width 2.5s;
    -webkit-transition: height 2.5s;
    padding: 2px;
  }

  .four-small {
    -webkit-transition: width 2s;
    -webkit-transition: height 2s;
    width: 100%;
    height: 50%;
    display: inline-block;
  }

  .five-active {
    display: inline-block;
    width: calc(60% - 4px);
    height: calc(100% - 4px);
    -webkit-transition: width 2s;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    padding: 2px;
  }

  .five {
    width: 15%;
    display: inline-block;
    -webkit-transition: width 2s;
    height: 100%;
  }

  .five-super-small {
    width: 10%;
    height: 100%;
    display: inline-block;
    -webkit-transition: width 2s;
  }

  .five-container .gif_player {
    height: 100%;
  }

  .five-active video {
    object-fit: inherit;
  }

  .five-small-active {
    position: relative;
    background: white;
    -webkit-transition: width 2s;
    -webkit-transition: height 2s;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    width: calc(100% - 4px);
    height: calc(80% - 4px);
    padding: 2px;
    display: inline-block;
  }

  .five-small {
    -webkit-transition: width 2s;
    -webkit-transition: height 2s;
    width: 100%;
    height: 50%;
    display: inline-block;
  }

  .five-super-small-active {
    height: calc(100% - 4px);
    width: calc(55% - 4px);
    -webkit-transition: width 2.5s;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
    padding: 2px;
    display: inline-block;
  }
}


.translate-enter {
  transform: translateX(100vw);
}

.translate-enter.translate-enter-active {
  transform: translateX(0);
  transition: all 2000ms ease-in-out;
}

.translate-appear {
  transition: all 2000ms ease-in-out;
}

.carousel{
  width: 100vw;
  height: 400px;
  overflow: hidden;
}
.carousel__slide {
  width: 100%;
  height: 400px;
}

.infobox tbody {
    border: 5px solid transparent;
}