html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

h1, h2 {
  border-bottom: none !important;
}

#app {
  display: flex;
  justify-content: space-between;
}

.c-app {
  width: 100%;
  flex: 1;
}

.c-app__header {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
}

.c-app__main {
  flex: 1;
  margin: 3em;
}

.ui.card.c-app-card > img {
  height: 200px;
}

.c-app-card-layout {
  margin: 2em;
  margin-top: 3em;
  margin-left: 10%;
  text-align: center;
}

.c-app-article-convert-navigate-btn {
  margin-top: 2em !important;
}

.c-app-conversion-progress {
  margin: 4em !important;
}

.c-app-card .content {
    background-color: #444 !important;
    color: #DCDDDE!important;
    /* margin-top: -22px !important; */
}

.c-app-card .content .header {
    color: #DCDDDE!important;
}

.ui.card.c-app-card {
    border-radius: 0 !important;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
    border-radius: 0 !important;
}

.c-app-article-all {
  height: 30em;
  overflow: auto;
}

.ui.card.c-app-card.c-app-card-all-articles {
  display: inline-block;
  margin: 1em;
}