.c-app-footer {
  bottom:0!important;
  position: relative;
  height: 8em;
  width: 100%;
  overflow:hidden;
  text-align: center;
  border-top: 1px solid;
  background: #2185d0;
  padding-top: 1em;
  margin-top:5em;

  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
}
//slackbtn
.butn {
    display: inline;
    border: 0;
    margin: 0;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Slack-Lato,sans-serif;
    font-weight: 700;
    background-color: #6aa06a;
    color: #fff!important;
    text-shadow: none;
    text-decoration: none;
    z-index:1;
}

//slackPopup
.invite-box-wrapper {
    text-align: center;
    width: 320px;
}

.invite-box-wrapper {
    position: absolute;
    z-index: 10;
}
div.invite-box-wrapper {
    text-align: center;
    width: 320px;
}
.invite-box {
    display: block;
}

.invite-box-wrapper {
    position: relative;
    padding: 0;
    font-size: 15px;
}
.invite-box-wrapper .online {
    color:#0099ff;
}
.invite-box-wrapper input[type="text"] {
    margin-bottom: 10px;
}
.invite-box-wrapper input, .invite-box-wrapper button {
    text-align: center;
    font-size: 15px;
}

.invite-box-wrapper button, input {
    line-height: normal;
}
.invite-box-wrapper button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
.invite-box-wrapper .invite-button {
    width: 100%;
}

.invite-box-wrapper .button {
    background: #0099ff;
    color: white;
    text-transform: none;
    font-weight: normal;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.invite-box-wrapper a.invite-box-reset {
    cursor: pointer;
}

.hidden {
    display: none;
}
.invite-box-wrapper a, button, input:focus, input[type="button"], input[type="reset"], input[type="submit"], textarea:focus, .button {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.invite-box-wrapper a, a:visited {
    color: #0d72c7;
    text-decoration: none;
}



p.c-app-footer__top-line {
  width: 60%;
  margin: 0 auto 1em;
}

.c-app-footer__link {
  color: rgba(0, 0, 0, 0.87);
}

.c-app-footer__link:hover,
.c-app-footer__link:visited {
  color: rgba(0, 0, 0, 0.87)
}

.c-app-footer__about,
.c-app-footer__contact {
  font-weight: bold;
  cursor: pointer;
  margin: 0 1em;
}

.c-app-footer__actions--link {
  font-weight: bold;
  width: 60%;
}
.c-app-footer__actions{
  position: relative;
  left:130px;
}