html, body {
  height: 100%;
  margin: 0;
}

h1, h2 {
  border-bottom: none !important;
}
.title{
  text-align:left;
  float:left;
  height:30px;
  width:6em;
}

#app {
  display: flex;
  justify-content: space-between;
}

.c-app {
  width: 100%;
  flex: 1;
}

.c-app__header {
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.c-auth-buttons{
  margin-bottom:2em !important;
}
.c-app-header__link {
  margin-bottom:2em !important;
}

.c-app__main {
  flex: 1;
  margin: 3em;

}

.ui.card.c-app-card > img {
  object-fit:cover;
}
.ui.card>.image, .ui.cards>.card>.image{
  height: 250px;
  background:#6aa06a!important;
}

.c-app-card-layout {

  margin:2em;
   text-align: center;

  .ui.grid>.row {
    margin-bottom: 5rem;
        float:left;
  }

  .ui.grid>.row>.column {
/*    display:block;*/
    height:300px;
    margin: 2.5rem 0;

    left:-5em;
    top:2em;
  }
}

.c-app-article-convert-navigate-btn {
  margin-top: 2em !important;
}

.c-app-conversion-progress {
  margin: 4em !important;
}

.c-app-card .content {
    background-color: #005596!important;
    color: #DCDDDE!important;
    /* margin-top: -22px !important; */
}

.c-app-card .content .header {
    color: white!important;
    font-size:0.8em!important;
}

.ui.card.c-app-card {
    border-radius: 0 !important;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
    border-radius: 0 !important;
}

.c-app-article-all {
  height: 30em;
  overflow: auto;
}

.ui.card.c-app-card.c-app-card-all-articles {
  display: inline-block;
  margin: 1em;
}

img.c-app-coffee {
    width: 6em;
}


// viewer style
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

img {
  animation: none;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.outer-container {
  width: 100%;
  height: 100%;
}
.inner-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.three-active img, .four-small-active img, .five-active img {
  object-fit: initial;
}

.two {
  display: inline-block;
  width: 30%;
  height: 100%;
  -webkit-transition: width 2s;
}

.two video, .four video, .three video, .two-active video, .five video {
  object-fit: fill;
}

.two-active {
  display: inline-block;
  width: calc(70% - 4px);
  height: calc(100% - 4px);
  -webkit-transition: width 2s;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  padding: 2px;
}

.three {
  width: 20%;
  display: inline-block;
  height: 100%;
  -webkit-transition: width 2s;
  vertical-align: top;
}

.three-active {
  width: calc(60% - 4px);
  height: calc(100% - 4px);
  display: inline-block;
  -webkit-transition: width 2s;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  padding: 2px;
}

.three-active video {
  object-fit: inherit;
}

.three .gif_player {
  height: 100%;
}

.four-active {
  height: calc(100% - 4px);
  width: calc(70% - 4px);
	display: inline-block;
  -webkit-transition: width 2.5s;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  padding: 2px;
}

.four {
	width: 15%;
	display: inline-block;
  -webkit-transition: width 2s;
  height: 100%;
}

.four-container .gif_player {
	height: 100%;
}

.four-active video {
  object-fit: inherit;
}

.four-small-active {
  display: inline-block;
  height: calc(80% - 4px);
  width: calc(100% - 4px);
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -webkit-transition: width 2.5s;
  -webkit-transition: height 2.5s;
  padding: 2px;
}

.four-small {
  -webkit-transition: width 2s;
  -webkit-transition: height 2s;
  width: 100%;
  height: 50%;
  display: inline-block;
}

.five-active {
  display: inline-block;
  width: calc(60% - 4px);
  height: calc(100% - 4px);
  -webkit-transition: width 2s;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  padding: 2px;
}

.five {
  width: 15%;
  display: inline-block;
  -webkit-transition: width 2s;
  height: 100%;
}

.five-super-small {
  width: 10%;
  height: 100%;
  display: inline-block;
  -webkit-transition: width 2s;
}

.five-container .gif_player {
  height: 100%;
}

.five-active video {
  object-fit: inherit;
}

.five-small-active {
  -webkit-transition: width 2s;
  -webkit-transition: height 2s;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  width: calc(100% - 4px);
  height: calc(80% - 4px);
  padding: 2px;
  display: inline-block;
}

.five-small {
  -webkit-transition: width 2s;
  -webkit-transition: height 2s;
  width: 100%;
  height: 50%;
  display: inline-block;
}

.five-super-small-active {
  height: calc(100% - 4px);
  width: calc(55% - 4px);
  -webkit-transition: width 2.5s;
  -webkit-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  -moz-box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  box-shadow: 0px 0px 30px 5px rgba(0,64,255,0.28);
  padding: 2px;
  display: inline-block;
}

.translate-enter {
  transform: translateX(100vw);
}

.translate-enter.translate-enter-active {
  transform: translateX(0);
  transition: all 2000ms ease-in-out;
}

.translate-appear {
  transition: all 2000ms ease-in-out;
}

.carousel{
  width: 100vw;
  height: 400px;
  overflow: hidden;
}
.carousel__slide {
  width: 100%;
  height: 400px;
}
