.c-editor {
  display: flex;
  flex-direction: column;
  height: 35em;
  margin: 0 auto;
  border: 1px solid;
  margin-top: 1em;
}

.c-editor__viewer {
  width: 70em;
  margin-left: -1em;
}

.c-editor__editor {
  width: 60em;
}

.c-editor__toolbar {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.c-editor__toolbar-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
  color: #DCDDDE!important;
}

.c-editor__toolbar-publish {
  box-shadow: none !important;
}

.c-editor__content {
  height: 80%;
}

.c-editor__footer {
  height: 10%;
}

.c-editor__content--all {
  height: 100%;
  margin: 0 !important;
}

/* Sidebar */
.c-sidebar {
  width: 14em !important;
  background-color: #6c5b7b !important
}

.c-sidebar > div {
  background-color: none !important;
}

.c-sidebar__menu-item,
.c-sidebar__menu-item--level-1 {
  text-align: left !important;
}

.c-sidebar__submenu-item,
.c-sidebar__menu-item--level-2 {
  text-align: left !important;
  padding-left: 2em !important;
}

.c-sidebar__menu-item--level-3 {
  text-align: left !important;
  padding-left: 3em !important;
}

.c-editor__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
}

.c-main-content {
  display: flex;
}

.c-main-content__sidebar-visible {
  width: 46em !important;
  margin-left: -4px;
}

.c-main-content__sidebar-visible--viewer {
  width: 56em !important;
}

.c-editor__content-area {
  width: 100%;
  height: 100%;
}

.c-editor__content--dropzone {
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-editor__content--description {
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 0.5;
  height: 8em;
  width: 100%;
  padding: 1em;
  color: navy;
  border: 2px solid black;
  text-align: center;
  z-index: 3;
}

.c-editor__content--container .article-summary {
  position: absolute;
  width: 300px;
  height: 320px;
  background: white;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 1;
  z-index: 4;
  background-color: #eee !important;
  border-radius: 10px 10px 0 0 !important ;
  p.description {
    margin: 1em; 
    padding-bottom: 10px;
  }

  img {
    border-radius: 10px 10px 0 0 ;
    width: 100%;
    max-width: 100%;
    max-height: 150px;
  }
}
.c-editor__content--description-text {
  position: absolute;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  left: 0;
  margin-left: 1em;
}

.slideup-enter {
  top: 100px;
}

.slideup-enter.slideup-enter-active {
  top: 14px;
  transition: all 300ms ease-in;
}

.slideup-appear {
  top: 100px;
}

.slideup-appear.slideup-appear-active {
  top: 14px;
  transition: all 300ms ease-in;
}

img.c-editor__content-smiley {
    width: 8em;
    height: 8em;
}

.c-editor__content-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 1em;
    background-color: white;
}

.c-editor__content .carousel__slide > div >  div > div {
  // max-width: 100%;
  // padding-top: 0;
  // margin-top: 2px;
  overflow: hidden;
}

.inner-container .component-wrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0;
  bottom: 0;
}

.c-editor__content .carousel__slide .carousel__image_wrapper {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-editor__content .carousel__slide .carousel__image img{
  transition: transform 20s linear;
}
.c-editor__content .carousel__slide .carousel__image img.scale-appear-active {
  transform: scale(1.3);
}

// zoom position effect 

.zoom-t-r {
  transform-origin: top right;
}

.zoom-t-l {
  transform-origin: top left;
}
.zoom-b-r {
  transform-origin: bottom right;
}
.zoom-b-l {
  transform-origin: bottom left;
}



.c-editor__content .carousel__slide .carousel__image  {
  width: 100%;
}

.c-editor__content-default {
    outline: 2px dashed #92b0b3;
    outline-offset: -1em;
    height: 16em;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    background-color: #c8dadf;
    font-size: 1.25em;
}

.c-editor__content-text {
    font-size: 18px;
    font-weight: bold;
}

.c-editor__content--media {
    width: 100%;
    height: 100%;
}

.c-editor__content-video {
  position: absolute;
  top: 0;
  /* width: 60em; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* bottom: 100%; */
  /* left: 50%; */
  height: 100%;
  /* background-size: cover; */
  overflow: hidden;
}

.c-editor__content-image {
    height: 100%;
    width: 100%;
}

span.c-editor__footer-controls {
  flex: 1;
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

span.c-editor__last-updated {
  margin-right: 1em;
}

.ui.visible.thin.left.sidebar~.fixed, .ui.visible.thin.left.sidebar~.pusher {
  transform: translate3d(200px,0,0) !important;
}

.c-editor-message {
  position: absolute !important;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.ui.segment.pushable.c-editor__content--all {
    height: 100%;
}

.pusher.c-main-content {
    height: 100%;
}

.c-editor__footer-wiki:focus {
  text-decoration: none;
}

.c-editor__footer-wiki {
  margin-right: 1em;
  margin-top: 1em;
  font-size: 16px;
}

.c-editor__toolbar-speed--control {
    margin: 5px !important;
    padding: 5px !important;
    font-size: 12px !important;
    /* font-weight: bold !important; */
}

.c-editor__share-icon {
  display: inline;
  margin-right: 0.5em;
  cursor: pointer;
}

.c-editor__share-icon > div {
  display: inline;
}

.box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.box__hover {
  background-color: white !important;
}

.c-editor-error-modal {
  color: red;
}

.c-editor__toolbar {
    background-color: #444;
    color: white;
}

.ui.card.c-contributors {
    width: 19.25em;
    float: right;
}

.ui.active.indicating.progress.c-upload-progress {
    width: 100%;
    text-align: center;
    margin: 1em auto !important;
    padding: 0;
}

.box__input {
    width: 50%;
}

.c-menu-progress .label {
    position: relative !important;
    top: 0 !important;
    margin-top: 0 !important;
}

.ui.progress.c-menu-progress {
    margin: 0 !important;
}

.c-menu-progress
 .bar {
    border-radius: 0 !important;
    min-width: 0.5em !important;
    position: absolute !important;
    left: 0;
    top: 0;
    height: 100% !important;
}
.c-editor__content-video-viewer {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 5em;
  text-align: center;
}

.c-editor__upload-form__title-loader {
  margin-top: -10px;
}

.c-editor__upload-form__title-loader:after {
  border-color: green transparent transparent !important;
}