.c-editor {
  display: flex;
  flex-direction: column;
  width: 60em;
  height: 35em;
  margin: 0 auto;
  border: 1px solid;
  margin-top: 1em;
}

.c-editor__toolbar {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.c-editor__toolbar-title {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  padding: 1em;
  color: #DCDDDE!important;
}

.c-editor__toolbar-publish {
  box-shadow: none !important;
}

.c-editor__content {
  height: 80%;
}

.c-editor__footer {
  height: 10%;
}

.c-editor__content--all {
  height: 100%;
  margin: 0 !important;
}

/* Sidebar */
.c-sidebar {
  width: 14em !important;
  background-color: #6c5b7b !important
}

.c-sidebar > div {
  background-color: none !important;
}

.c-sidebar__menu-item,
.c-sidebar__menu-item--level-1 {
  text-align: left !important;
}

.c-sidebar__submenu-item,
.c-sidebar__menu-item--level-2 {
  text-align: left !important;
  padding-left: 2em !important;
}

.c-sidebar__menu-item--level-3 {
  text-align: left !important;
  padding-left: 3em !important;
}

.c-editor__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 100%;
}

.c-main-content {
  display: flex;
}

.c-main-content__sidebar-visible {
  width: 46em !important;
  margin-left: -4px;
}

.c-editor__content-area {
  width: 100%;
  height: 100%;
}

.c-editor__content--dropzone {
  height: 100%;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-editor__content--description {
  position: absolute;
  bottom: 0;
  background: black;
  opacity: 0.5;
  height: 8em;
  width: 100%;
  padding: 1em;
  color: navy;
  border: 2px solid black;
  text-align: left;
}

.c-editor__content--description-text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

img.c-editor__content-smiley {
    width: 8em;
    height: 8em;
}

.c-editor__content-default {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 1em;
    background-color: white;
}

.c-editor__content-default {
    outline: 2px dashed #92b0b3;
    outline-offset: -1em;
    height: 16em;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    background-color: #c8dadf;
    font-size: 1.25em;
}

.c-editor__content-text {
    font-size: 18px;
    font-weight: bold;
}

.c-editor__content--media {
    width: 100%;
    height: 100%;
}

.c-editor__content-video {
  position: absolute;
  top: 0;
  /* width: 60em; */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /* bottom: 100%; */
  /* left: 50%; */
  height: 100%;
  /* background-size: cover; */
  overflow: hidden;
}

.c-editor__content-image {
    height: 100%;
    width: 100%;
}

span.c-editor__footer-controls {
  flex: 1;
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
}

.ui.visible.thin.left.sidebar~.fixed, .ui.visible.thin.left.sidebar~.pusher {
  transform: translate3d(200px,0,0) !important;
}

.c-editor-message {
  position: absolute !important;
  width: 100%;
  text-align: center;
  opacity: 0.9;
}

.ui.segment.pushable.c-editor__content--all {
    height: 100%;
}

.pusher.c-main-content {
    height: 100%;
}

.c-editor__footer-wiki:focus {
  text-decoration: none;
}

.c-editor__footer-wiki {
  margin-right: 1em;
}

.c-editor__share-icon {
  display: inline;
  margin-right: 0.5em;
  cursor: pointer;
}

.c-editor__share-icon > div {
  display: inline;
}

.box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.box__hover {
  background-color: white !important;
}

.c-editor-error-modal {
  color: red;
}

.c-editor__toolbar {
    background-color: #444;
    color: white;
}

.ui.card.c-contributors {
    width: 19.25em;
    float: right;
}