.c-export-human-voice {
  &__recorder-mic-container {
    // display: none;
    margin-bottom: 1.5rem;
    margin-top: 10px;
    width: 400px;
    padding-top: 1rem;
    svg {
      // width: 400px !important;
      height: 70px !important;
      position: relative !important;
    }
  }
  &__recorder-mic {
    width: 100%;
  }
  &__recorder-container {
    display: flex;
    align-items: center;
    height: 5rem;
  }
  &__audio_container {
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  &__clear-record {
    color: red;
    cursor: pointer;
    margin-left: 1rem !important;
  }
  &__final_preview_button {
    width: 100%;
    height: 80px !important;
    margin-top: 28px !important;
  }
  &__translate_box {
    margin-top: 1rem;
    button {
      float: right;
      margin-right: 0 !important;
      margin-top: 20px !important;
    }
    button::after {
      clear: both;
    }
  }
}