.c-export-human-voice {
  &__recorder-mic {
    // display: none;
  }
  &__recorder-container {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  &__audio_container {
    display: flex;
    justify-content: center;
    align-items: center;    
  }
  &__clear-record {
    color: red;
    cursor: pointer;
    margin-left: 1rem !important;
  }
  &__final_preview_button {
    width: 100%;
    height: 80px !important;
    margin-top: 28px !important;
  }
  &__translate_box {
    button {
      float: right;
      margin-right: 0 !important;
      margin-top: 20px !important;
    }
    button::after {
      clear: both;
    }
  }
}