.c-logo-wrapper {
  width: 16em;
  color: black !important;
}

.c-logo-wrapper:hover {
  color: black !important;
}

.c-logo {
  display: flex;
  justify-content: center;
}

.c-logo__img {
  height: 60px;
  margin-right: 1em;
  margin-top:1em;
}

.c-logo__title {
  font-size: 18px;
  margin-top: 15px;
  color: black;
}

span.c-logo__beta {
    vertical-align: super;
    font-size: 10px;
    color: red;
}
.joinUsLogo{
    height:5em;
    background:#0099ff;
    border-radius:5px;
  p{
    padding:0.75em 0;
    color:white;
    font-size:28px;
  }
  a{
    text-decoration: underline;
    color:white;
  }
}
#logoText{
  font-family:"Times New Roman",Georgia,Serif;
  color:#005596;
}